<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

</div>

<div *ngIf="user">
	<h2>Profile:</h2>
	<div>ID: <span>{{user.id}}</span></div>
	<div *ngIf="editable; else view">
		<span>Name: <input #name></span>
		<span>Age: <input #age type="number"></span>
		<button (click)="submitProfile(name.value, age.value)">Submit!</button>
	</div>
	<ng-template #view>
		<div>Name: <span>{{user.name}}</span></div>
		<div>Age: <span>{{user.age}}</span></div>
    <button (click)="editClickButton(user)">Edit profile</button>
	</ng-template>
</div>
