<md-grid-list cols="1"  rowHeight="4:1">
<md-grid-tile>
<div>
  <md-card>
    <img md-card-md-image class="example-card-profile-center" src="http://www.fm-base.co.uk/forum/attachments/football-manager-2014-manager-stories/618828d1403554937-ups-downs-building-one-default_original_profile_pic.png">
   <i md-card-image class="material-icons"></i>
  <md-card-content>
    <div> Name: {{userProfile.name}}</div>
    <div> Age: {{userProfile.age}}</div>
  </md-card-content>
  <md-card-actions>
    <button md-button routerLink="edit">Edit Profile</button>
    <button md-button (click)="logout()">Logout</button>
  </md-card-actions>
</md-card>
</div>
</md-grid-tile>
</md-grid-list>
<div class="demo-card-container">
</div>
