<div>
  <h1>{{title}}</h1>
  <div> ID: {{userProfile.id}} </div>
  <div> Name: {{userProfile.name}}</div>
  <div> Age: {{userProfile.age}} </div>
  <button routerLink="edit">Edit Profile</button>
  <button (click)="logout()">Logout</button>
  </div>

<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{title}}</md-card-title>
  </md-card-header>
  <!--<img md-card-image src="assets/img/acccount-circle.png">-->
  <md-card-content>
    <p>
      Test test test test
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button routerLink="edit">Edit Profile</button>
    <button md-button (click)="logout()">Logout</button>
  </md-card-actions>
</md-card>

